{% extends "accounts/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
        <div class="text-center p-5 bg-white rounded shadow">
            <h1 class="mb-3">
                Bienvenue, {{ user.first_name|default:user.email }} !
            </h1>
            <p class="lead">
                Tu es connecté en tant que <strong>{{ user.get_role_display }}</strong>
            </p>
            <div class="mt-4">
                <a href="{% url 'accounts:profile' %}" class="btn btn-primary btn-lg">
                    Modifier mon profil
                </a>
            </div>
        </div>

        {% if user.role == 'admin' %}
        <div class="mt-5 alert alert-info text-center">
            <h4>Espace Admin</h4>
            <a href="/admin/" class="btn btn-dark">Aller à l'administration</a>
        </div>
        {% endif %}

    {% else %}
        <div class="text-center p-5 bg-white rounded shadow">
            <h1>Bienvenue sur GymForce</h1>
            <p class="lead">Connecte-toi pour accéder à ton espace personnel.</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg">Se connecter</a>
            <a href="{% url 'accounts:signup' %}" class="btn btn-success btn-lg ms-2">S'inscrire</a>
        </div>
    {% endif %}
</div>
{% endblock %}