{% extends "accounts/base.html" %}
{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-body p-5">
                <h3 class="text-center mb-4">Choisis un nouveau mot de passe</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Changer le mot de passe</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}